node-red_flow/flows.json
[{"id":"89e643d1.d11c7","type":"tab","label":"Поток 2","disabled":false,"info":""},{"id":"599740b7.efde9","type":"http response","z":"89e643d1.d11c7","name":"","statusCode":"200","headers":{},"x":360,"y":380,"wires":[]},{"id":"1618a829.76f638","type":"json","z":"89e643d1.d11c7","name":"","property":"payload","action":"obj","pretty":true,"x":350,"y":500,"wires":[["d0089cc7.d25ac"]]},{"id":"c7410fa2.1c2fa","type":"debug","z":"89e643d1.d11c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"1c8f9093.8bc2bf","type":"ui_gauge","z":"89e643d1.d11c7","name":"","group":"219dd483.06111c","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":0,"max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":500,"wires":[]},{"id":"a5bd2706.54e108","type":"ui_gauge","z":"89e643d1.d11c7","name":"","group":"2b7ac01b.fc984","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0080ff","#0062c4","#002f5e"],"seg1":"","seg2":"","x":800,"y":460,"wires":[]},{"id":"105ac2cc.7b3cfd","type":"ui_gauge","z":"89e643d1.d11c7","name":"","group":"6a06f056.28fd","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"Pa","format":"{{value}}","min":0,"max":"120000","colors":["#b366ff","#8000ff","#440088"],"seg1":"","seg2":"","x":800,"y":620,"wires":[]},{"id":"d0089cc7.d25ac","type":"function","z":"89e643d1.d11c7","name":"JSON or URL Encoded","func":"var msg0 = { payload: msg.payload.humidity };\nvar msg1 = { payload: msg.payload.temp };\nvar msg2 = { payload: msg.payload.temp_dht };\nvar msg3 = { payload: msg.payload.temp_bpm };\nvar msg4 = { payload: msg.payload.pressure };\nvar msg5 = { payload: msg.payload.voltage };\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":500,"wires":[["a5bd2706.54e108","6a4f7061.532af"],["1c8f9093.8bc2bf","b64b9598.fcd478"],["d65b0a3b.d7f098"],["4f352b53.b579d4"],["105ac2cc.7b3cfd","fc05db10.285888"],["39ecc2fc.93ed2e"]]},{"id":"5d9ab0d2.66b92","type":"http in","z":"89e643d1.d11c7","name":"","url":"update-sensors","method":"post","upload":false,"swaggerDoc":"","x":140,"y":431,"wires":[["599740b7.efde9","c7410fa2.1c2fa","1618a829.76f638"]]},{"id":"d65b0a3b.d7f098","type":"ui_gauge","z":"89e643d1.d11c7","name":"","group":"219dd483.06111c","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature DHT","label":"ºC","format":"{{value}}","min":0,"max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":540,"wires":[]},{"id":"4f352b53.b579d4","type":"ui_gauge","z":"89e643d1.d11c7","name":"","group":"219dd483.06111c","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature BPM","label":"ºC","format":"{{value}}","min":0,"max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":580,"wires":[]},{"id":"39ecc2fc.93ed2e","type":"ui_gauge","z":"89e643d1.d11c7","name":"","group":"988c09d8.563d88","order":4,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"3.2","colors":["#b366ff","#8000ff","#440088"],"seg1":"","seg2":"","x":800,"y":660,"wires":[]},{"id":"b64b9598.fcd478","type":"ui_chart","z":"89e643d1.d11c7","name":"","group":"219dd483.06111c","order":3,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Temperature","dot":false,"ymin":"-30","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":480,"wires":[[]]},{"id":"6a4f7061.532af","type":"ui_chart","z":"89e643d1.d11c7","name":"","group":"2b7ac01b.fc984","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Humidity","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":960,"y":420,"wires":[[]]},{"id":"fc05db10.285888","type":"ui_chart","z":"89e643d1.d11c7","name":"","group":"6a06f056.28fd","order":3,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Pressure","dot":false,"ymin":"90000","ymax":"120000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":620,"wires":[[]]},{"id":"219dd483.06111c","type":"ui_group","name":"Temperature Sensors","tab":"99ab8dc5.f435c","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b7ac01b.fc984","type":"ui_group","name":"Humidity Sensor","tab":"99ab8dc5.f435c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a06f056.28fd","type":"ui_group","name":"Pressure Sensor","tab":"99ab8dc5.f435c","order":3,"disp":true,"width":"6","collapse":false},{"id":"988c09d8.563d88","type":"ui_group","name":"Voltage Sensor","tab":"99ab8dc5.f435c","order":4,"disp":true,"width":"6","collapse":false},{"id":"99ab8dc5.f435c","type":"ui_tab","name":"HTTP","icon":"dashboard","order":1,"disabled":false,"hidden":false}]